<ion-app color="primary"> 
  <ion-split-pane color ="primary">
    <ion-menu type="overlay"color ="primary">
      <ion-content fullscreen class="ion-padding" scroll-y="false" color = "primary">
        <!-- <ion-list color ="primary"> -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages"color ="primary">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"color="primary">
              <ion-icon slot="start" [name]="p.icon" color="secondary"></ion-icon>
              <ion-label color = "secondary">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        <!-- </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
