<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-avatar class="center">
    <img src="assets/patrick.jpg">
  </ion-avatar>
  <div>
    <ion-label>
      <h2 class="nome" style="color:#fcdab7;">Patrick Estrela</h2>
      <p class="email" style="color: #fcdab7;">patrick@email.com</p>
      <p class="descricao" style="color: #fcdab7;">Lorem ipsum a class facilisis nullam rutrum, posuere est hendrerit nulla congue dolor, morbi vitae massa ut
        habitasse. duis etiam et metus sollicitudin proin porta cursus.</p>
    </ion-label>
  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="arrow-back" (click)="abrirPagina('login')">
        <ion-icon name="arrow-back" color="secondary"></ion-icon>
        <ion-label color="secondary">Voltar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="alert" (click)="abrirPagina('home')">
        <ion-icon name="alert" color="secondary"></ion-icon>
        <ion-label color="secondary">Sobre</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help" (click)="abrirAlertSimples()">
        <ion-icon name="help" color="secondary"></ion-icon>
        <ion-label color="secondary">Ajuda</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>