<ion-header truslucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      <h3 class="titulo">Procure Jogares</h3>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="tertiary" (click)="showLoadingDefault()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <ion-card *ngFor="let user of users">
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium">
      </ion-avatar>
      <ion-label>
        <h2 text-capitalize>{{ user.name?.firts}} {{user.name?.last}}</h2>
        <p>{{user.email}}</p>
      </ion-label>

    </ion-item>
  </ion-card>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais usúarios.">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>