<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="secondary">Buscar Jogadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color ="primary">

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="arrow-back" (click)="abrirPagina('perfil')">
        <ion-icon name="arrow-back" color="secondary"></ion-icon>
        <ion-label color="secondary">Voltar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home" (click)="abrirPagina('home')">
        <ion-icon name="home" color="secondary"></ion-icon>
        <ion-label color="secondary">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="settings">
        <ion-icon name="settings" color="secondary"></ion-icon>
        <ion-label color="secondary">Configurações</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>