ion-header{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#133b5c;
    --ion-color-tertiary:#1e5f74;
    --ion-color-danger:#fcdab7;
  }
  
  ion-content{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
      
  }
  ion-tabs{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
  }
  
  h2{
    color: #fcdab7;
  }


 
