<ion-header truslucent>
  <ion-toolbar color="primary">
    <ion-title color="secondary">
      <h3 class="titulo">Procure Jogares</h3>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="secondary"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  
  <ion-item color="primary">
    <ion-avatar slot="start">
      <img src="assets/patrick.png">
    </ion-avatar>
    <ion-label>
      <h2>Patrick</h2>
      <h3>Na dúvida, levante o dedinho</h3>
      <p>Meu pai sempre disse :quando voce tiver dinheiro não gaste é preciso ter um plano</p>
    </ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-avatar slot="start">
      <img src="assets/patrick.png">
    </ion-avatar>
    <ion-label>
      <h2>Patrick</h2>
      <h3>Na dúvida, levante o dedinho</h3>
      <p>Meu pai sempre disse :quando voce tiver dinheiro não gaste é preciso ter um plano</p>
    </ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-avatar slot="start">
      <img src="assets/patrick.png">
    </ion-avatar>
    <ion-label>
      <h2>Patrick</h2>
      <h3>Na dúvida, levante o dedinho</h3>
      <p>Meu pai sempre disse :quando voce tiver dinheiro não gaste é preciso ter um plano</p>
    </ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-avatar slot="start">
      <img src="assets/patrick.png">
    </ion-avatar>
    <ion-label>
      <h2>Patrick</h2>
      <h3>Na dúvida, levante o dedinho</h3>
      <p>Meu pai sempre disse :quando voce tiver dinheiro não gaste é preciso ter um plano</p>
    </ion-label>
  </ion-item>

  <ion-item color="primary">
    <ion-avatar slot="start">
      <img src="assets/patrick.png">
    </ion-avatar>
    <ion-label>
      <h2>Patrick</h2>
      <h3>Na dúvida, levante o dedinho</h3>
      <p>Meu pai sempre disse :quando voce tiver dinheiro não gaste é preciso ter um plano</p>
    </ion-label>
  </ion-item>

  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="arrow-back" (click)="abrirPagina('perfil')">
        <ion-icon name="arrow-back" color="secondary"></ion-icon>
        <ion-label color="secondary">Voltar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home" (click)="abrirPagina('home')">
        <ion-icon name="home" color="secondary"></ion-icon>
        <ion-label color="secondary">Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="help">
        <ion-icon name="help" color="secondary"></ion-icon>
        <ion-label color="secondary">Ajuda</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-content>