ion-header{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
    --ion-color-tertiary:#133b5c;
  }
  
  ion-content{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
      
  }
  ion-tabs{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
  }


 
