ion-header{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
  }
  
  ion-content{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
  }

  .titulo{
    text-align:center;
  }

