ion-content{
    --ion-color-primary:#1d2d50;
    --ion-color-secondary:#fcdab7;
    --ion-color-tertiary:#3b5998;

}

.logo{
margin: 40px 0 40px;
}

.facebook{
    width:250px;
    height:125px;
    position:absolute;
    top:55%;
    left:23%;
    margin-top:-50px;
    margin-left:-50px;
}