<ion-content color="primary">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="assets/leagueoflegends.png">
        <p>Independentemente de você jogar <b>solo</b> ou com <b>amigos</b>, League of Legends é um jogo acelerado,
          estratégico e altamente competitivo desenvolvido para quem gosta de vitórias suadas.</p>
          <ion-button color="secondary"><ion-text color="tertiary">Participar</ion-text></ion-button>
      </div>
    </ion-slide>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button tab="arrow-back" (click)="abrirPagina('buscarjogadores')">
          <ion-icon name="arrow-back" color="secondary"></ion-icon>
          <ion-label color="secondary">Voltar</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="home" (click)="abrirPagina('perfil')">
          <ion-icon name="home" color="secondary"></ion-icon>
          <ion-label color="secondary">Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="help" (click)="abrirAlertSimples()">
          <ion-icon name="help" color="secondary"></ion-icon>
          <ion-label color="secondary">Ajuda</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </ion-slides>


</ion-content>