
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">

<ion-avatar>
  <img src="assets/airton.svg">
 </ion-avatar>
 <nav>
  <h3 class="nomeCompleto">Airton Mendonça Silva</h3>
  <p class="sobre">Meu nome é Airton Mendonça Silva tenho 25 anos e fui dos criadores do Connecting Gamer,estou muito  feliz em poder realizar este projeto.</p>
 </nav>

 <ion-avatar>
   <img src="assets/fabio.svg">
 </ion-avatar>
 <nav>
   <h3 class="nomeCompleto">Fabio Freitas Marini</h3>
   <p class="sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel tellus vehicula, vehicula velit id, maximus risus. Donec et rutrum arcu.</p>
 </nav>

</ion-content>
